@tailwind base
@tailwind components
@tailwind utilities

body
	@apply text-white bg-black
	background: url(/background.jpg) repeat
	text-align: right
	direction: rtl
	font-display: swap

h1, h2, h3, h4
	@apply font-bold text-white

h1
	@apply text-4xl

h2
	@apply text-3xl

h3
	@apply text-2xl

h4
	@apply text-xl

p, ul, ol
	@apply text-xl mt-4

a
	@apply text-link max-w-max

	&:hover, &:active, &:focus
		@apply underline

li
	@apply mt-4

ul, ol
	@apply p-4 mt-0

ul li
	list-style-type: square

ol li
	list-style-type: decimal-leading-zero

article img
	@apply max-h-screen m-auto

blockquote
	@apply p-12 border-solid border-l-2 border-black m-8

	p cite
		@apply text-lg font-normal

	p
		@apply text-2xl font-bold

hr
	margin: 0 auto
	background: black
	opacity: 0.3
	height: 1px
	width: 60%

@media (min-width: 768px)
	h1
		@apply text-6xl

	h2
		@apply text-5xl

	h3
		@apply text-2xl

	h4
		@apply text-xl